{% extends "base.html" %}

{% block title %}Prices{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Exchange</th>
                <th>Pair</th>
                <th>Average Price</th>
            </tr>
        </thead>
        <tbody>
            {% if price_data %}
                {% for key, value in price_data.items %}
                    <tr>
                        <td>{{ value.exchange }}</td>
                        <td>{{ value.pair }}</td>
                        <td>{{ value.avg_price }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">No data available at the moment.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
